# ----------------------
# Python & Virtual Env
# ----------------------
# Compiled python modules (Junk)
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments (Heavy, shouldn't be shared)
venv/
env/
.env

# ----------------------
# Terraform (CRITICAL)
# ----------------------
# Never commit the local state - it contains SECRETS!
*.tfstate
*.tfstate.backup

# The .terraform folder contains downloaded plugins (Heavy)
.terraform/
.terraform.lock.hcl

# Variable files containing passwords (if you ever use them)
*.tfvars

# ----------------------
# macOS & System
# ----------------------
.DS_Store

# ----------------------
# IDE Settings
# ----------------------
.vscode/
.idea/